<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <form action="/" method="post">
        <label for="name">Enter Contact Name:</label>
        <input type="text" name="name">

        <label for="phone-number">Enter Contact Phone Number:</label>
        <input type="text" name="phone-number">
        <br><br>

        <label for="street">Enter Contact Street:</label>
        <input type="text" name="street">

        <label for="city">Enter Contact City:</label>
        <input type="text" name="city">

        <label for="state">Enter Contact State:</label>
        <input type="text" name="state">

        <label for="zip-code">Enter Contact ZIP Code:</label>
        <input type="text" name="zip-code">

        <hr>

        <button type="submit">Submit</button>

    </form>

    <p><a href="/">View All Contacts</a></p>
</body>
</html>
