<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Address Book</title>
    </head>
    <body>
        <h1>My Contacts</h1>
        <ul>
            @foreach(var contact in Model)
            {
                <li>@contact.GetName() | @contact.GetPhoneNumber()</li>
                <p>@contact.GetAddress()</p>
                <hr>
            }
        </ul>

        <form action="/contacts/delete" method="post">
            <button type="submit">Clear All Contacts</button>
        </form>

        <a href="/contacts/add">Add a new contact.</a>
    </body>
</html>
